.hobbies__line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}


@media screen and (max-width:960px){
    .hobbies__line {
        margin: 0;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: repeat(2, 152.5px);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}