.hobbies__box{
    margin-left:  2rem;
    margin-right: 2rem;
    transform: 1s ease-in-out;
    -webkit-transform: 1s ease-in-out;
    -moz-transform: 1s ease-in-out;
    -ms-transform: 1s ease-in-out;
    -o-transform: 1s ease-in-out;
}
.hobbies__box:hover{
    scale: 1.5;
}
.hobbies__box ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:96px){
    .hobbies__box{
        margin: 0;
    }
    .hobbies__box:hover{
        scale: 1;
    }
}