.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 0.25rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media screen and (max-width:960px){
    .hobbies {
        margin: 0;
    }
}